<% if @products %>
  <%= will_paginate @products %>
  <% @products.each do |product| %>
    <div class="product">
      <div class="product_image">
        <%= image_tag product.image.url :medium%>
        <div class="zoom_in"></div>
      </div>
      <div class="product_title"><%= product.title %></div>
      <div class="product_price"><%= "#{number_to_currency(product.price, unit: '', precision: 2)} #{t('grn')}" %></div>
      <div class="product_desc"><%= product.description %></div>
      <%= link_to t('add_to_cart'), product_path(product), class: "add_to_cart" %>
      <%= link_to t('details'), product_path(product), class: "product_details_link" %>
    </div>
  <% end %>
  <%= will_paginate @products %>
<% else %>
<% end %>