<tr>
  <td>
    <img src="<%= url_for(:action => 'picture', :id => article.id) %>" class="article_image"/>
  </td>
  <td>
      <%= article.title %><br>
      <%= truncate(strip_tags(article.description), length: 80) %>   <br>
    Posted <%= time_ago_in_words(article.created_at) %> ago.   <br>
  </td>
  <td>
    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %>
  </td>
</tr>
<div style="clear: both;"></div>