<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.title %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>

<p>
  <b>User:</b>
  <%= @article.user_id %>
</p>

<p>
  <b>Price:</b>
  <%= @article.price %>
</p>
<img src="<%= url_for(:action => 'picture', :id => @article.id) %>" class="article_image"/>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
