<div id="signin_window">
  <h3><%= t('enter_for_admin')%></h3>
    <%= form_for(:session, :url => sessions_path) do |f| %>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
      <%= f.submit t('sign_in') %>
    <% end %>
</div>