<h1>Ваши заказы</h1>

<table>
  <tr>
    <th>Имя</th>
    <th>Адресса</th>
    <th>Ел. Почта</th>
    <th>Телефон</th>
    <th>Товары</th>
    <th>Действия</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.phone %></td>
    <td><%= "Список товаров и их количество" %></td>
    <td>
      <%= link_to 'Show', order %>
      <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
