<p>
  <b>Имя:</b>
  <%= @order.name %>
</p>

<p>
  <b>Адрес:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Телефон:</b>
  <%= @order.phone %>
</p>
<p>
  <b>Заказаные товаы:</b>
  <%= @order.email %>
</p>

