<%= form_for @category  do |f| %>
  <div class="form_fields">
    <%= f.label "Название" %><br>
    <%= f.text_field :name %><br>
    <%= submit_tag "ГОТОВО" %>
  </div>
  <div class="form_errors">
    <%= render 'shared/error_messages', :object => f.object %>
  </div>
<% end %>
