<h1>Категории товаров</h1>
<%= link_to 'Добавить новую категорию', new_category_path, class: "button blue float_right", id: "new_category" %>
<br>
<table>
  <tr>
    <th>Категория</th>
    <th>Количество товаров</th>
    <th></th>
  </tr>
<% @categories.each do |category| %>
  <tr onclick="window.location = '<%= edit_category_url(category) %>'">
    <td><%= category.name %></td>
    <td width="250px"><%= category.products.length %></td>
    <td width="250px" class="admin_table_actions"><%= link_to "Удалить", category_path(category),  method: :delete, confirm: "Точно?", class: "delete_action" %></td>
  </tr>
<% end %>
</table>
