<h1>Категории товаров</h1>
<%= link_to 'Добавить новую категорию', new_category_path, class: "button green float_right", id: "new_category" %>
<br>
<table>
  <tr>
    <th>Категория</th>
    <th>Количество товаров</th>
    <th>Действия</th>
  </tr>
<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td width="250px"><%= category.products.length %></td>
    <td width="250px" id="category_actions">
      <%= link_to "Редагировать назавние", edit_category_path(category), id:"edit_category" %> или
      <%= link_to "Удалить", category_path(category),  method: :delete, confirm: "Точно?", id: "delete_category" %>
    </td>
  </tr>
<% end %>
</table>
