<tr>
  <td>
      <%= product.title %><br>
      <%= truncate(strip_tags(product.description), length: 80) %>   <br>
    Posted <%= time_ago_in_words(product.created_at) %> ago.   <br>
  </td>
  <td>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
  </td>
</tr>
<div style="clear: both;"></div>