<h1>
  <% if @products.length > 0 %>
    Список всех товаров (<%= @products.length %>)
  <% else %>
    У Вас пока нет ни одного продукта!
  <% end %>
</h1>
<%= link_to "Создать новый товар", new_product_path, class: "button green float_right", id: "new_product" %>
<br>
<% if @products.present? %>
  <% @products.each do |product| %>
    <div class="admin_product cleaner">
      <div class="image_wrapper">
        <%= image_tag product.image.url :small  %>
      </div>
      <div class="content">
        <h3 class="product_title"><%= product.title %></h3>
        <div class="actions">
          <%= link_to(image_tag("pencil.png"), edit_product_path(product), title: "Редагировать продукт") %>
          <%= link_to(image_tag("delete.png"), product_path(product), method: :delete, confirm: "Точно?", title: "Удалить продукт") %>
        </div>
        <span class="product_price"><%= number_to_currency(product.price, unit: "₴", precision: 2) %></span>
        <br><br>
        <%= product.description %>
      </div>
    </div>
  <% end %>
<% else %>
<% end %>

