<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<% @articles.each do |article| %>
    <div class="entry">
      <%= rails %>
      <h3><%= article.title %></h3>
      <%= sanitize(article.description) %>
      <div class="price_line">
        <span class="price"><%= sprintf("$%0.02f", article.price) %></span>
        <%= button_to 'Add to Cart', line_items_path(article_id: article.id) %>
      </div>
    </div>
<% end %>