<div id="footer">
  <div class="float_left">
    Created by <%= link_to "@Entity", "#" %>
  </div>
  <%= form_tag locale_path, class: 'locale float_right' do %>
    <%= select_tag :set_locale, options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
    <%= submit_tag 'submit' %>
    <%= javascript_tag "j('.locale input').hide()" %>
  <% end %>
</div>