<div id="header">
  <div class="floar_right">
    <% if signed_in? %>
      <%= link_to t('Profile'), current_user %>
      <div class="cleaner"></div>
    <% end %>
    <%= link_to t('Help'), help_path %>
    <div class="cleaner"></div>
    <% if signed_in? %>
      <%= link_to t('Sign_out'), signout_path, :method => :delete %>
      <div class="cleaner"></div>
    <% else %>
      <%= link_to_function t('Sign_in'), "toggleSigninWindow()"%>
      <div class="cleaner"></div>
    <% end %>
  </div>
</div>

<div class="cleaner"></div>
<%= render 'shared/signin_window'  %>

<div class="cleaner"></div>
<br>
<div id="wp-menu">
  <div class="menu">
    <ul>
      <li><%= link_to t('Home'), root_path %></li>
      <% if signed_in? %>
        <li>
          <%= link_to "Articles", articles_path %>
        </li>
      <% end %>
      <li>
        <%= link_to "Store", store_path%>
      </li>
      <li>
         </li>
    </ul>
    <br style="clear: left" />
  </div>
  <div id="menu_second_bar">
    <div id="search">
      <%= form_tag "/articles/index", method: "get" do %>
        <%= text_field_tag :search, "", class: "text_field"%>
        <%= submit_tag 'submit', class: "submit_button", value: t('Search') + " products" %>
      <% end %>
    </div>
    <div class="cleaner"></div>
  </div>
</div>
