<div id="header" xmlns="http://www.w3.org/1999/html">
  <%= link_to logo, root_path, :id => "logo"%>
  <nav id="header_right">
      <%= Time.now %> |
      <% if signed_in? %>
        <%= link_to "Profile", current_user %> |
        <%= link_to "Settings", edit_user_path(current_user) %> |
      <% end %>
      <%= link_to "Help", help_path %> |
      <% if signed_in? %>
          <%= link_to "Sign out", signout_path, :method => :delete %>
      <% else %>
          <%= link_to_function "Sign in", "toggleSigninWindow()"%> or <%= link_to "Sign up", signup_path %>
          <%= render 'shared/signin_window'  %>
      <% end %>
  </nav>
</div>

<div class="cleaner"></div>
<br>
<div id="wp-menu">
  <div class="menu">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? && current_user.boss?%>
        <li>
          <%= link_to "Users (#{users.count if users})", users_path, :id => "users_count" %>
        </li>
      <% end %>
      <li><a href="#">Menu 3</a>
        <ul>
          <li><a href="#">Sub menu 1</a></li>
          <li><a href="#">Sub menu 2</a></li>
          <li><a href="#">Sub menu 3</a></li>
          <li><a href="#">Sub menu 4</a></li>
          <li><a href="#">Sub menu 5</a></li>
        </ul>
      </li>
      <li>
        <%= link_to "Articles", articles_path %>
      </li>
      <li>
        <%= link_to "Store", store_path%>
      </li>
      <li>
         </li>
    </ul>
    <br style="clear: left" />
  </div>
  <div id="menu_second_bar">
    <div id="top_shopping_cart">
      Shopping Cart: <strong>3 Products</strong> ( <a href="#">Show Cart</a> )
    </div>
    <div id="search">
      <form action="#" method="get">
        <input type="text" value="Search" name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field" />
        <input type="submit" name="Search" value=" Search " alt="Search" id="searchbutton" title="Search" class="sub_btn"  />
      </form>
    </div>
    <div class="cleaner"></div>
  </div>
</div>
