<div id="header">
  <div style="float: right;">
      <%= form_tag locale_path, class: 'locale' do %>
          <%= select_tag :set_locale, options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
          <%= submit_tag 'submit' %>
          <%= javascript_tag "j('.locale input').hide()" %>
      <% end %>
      <div class="cleaner"></div>
      <nav id="header_right">
          <% if signed_in? %>
            <%= link_to t('Profile'), current_user %> |
          <% end %>
          <%= link_to t('Help'), help_path %> |
          <% if signed_in? %>
              <%= link_to t('Sign_out'), signout_path, :method => :delete %>
          <% else %>
              <%= link_to_function t('Sign_in'), "toggleSigninWindow()"%>
          <% end %>
      </nav>
  </div>
</div>

<div class="cleaner"></div>
<%= render 'shared/signin_window'  %>

<div class="cleaner"></div>
<br>
<div id="wp-menu">
  <div class="menu">
    <ul>
      <li><%= link_to t('Home'), root_path %></li>
      <% if signed_in? %>
        <li>
          <%= link_to "Articles", articles_path %>
        </li>
      <% end %>
      <li>
        <%= link_to "Store", store_path%>
      </li>
      <li>
         </li>
    </ul>
    <br style="clear: left" />
  </div>
  <div id="menu_second_bar">
    <div id="search">
      <%= form_tag "/articles/index", method: "get" do %>
        <%= text_field_tag :search, "", class: "text_field"%>
        <%= submit_tag 'submit', class: "submit_button", value: t('Search') + " products" %>
      <% end %>
    </div>
    <div class="cleaner"></div>
  </div>
</div>
