<div id="header">
  <div class="float_left" id="admin_links">
    <% if signed_in? %>
      <%= link_to t('products_list'), products_path %>
      <%= link_to t('profile'), admin_profile_path %>
      <%= link_to t('sign_out'), signout_path, :method => :delete %>
    <% end %>
  </div>
</div>

<%= render 'shared/flash_messages'%>
<%= render 'shared/signin_window'  %>


