<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/styles_and_scripts' %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <div id="main">
      <%= render 'layouts/cap' %>
      <%= render 'layouts/sidebar' if @render_sidebar %>
      <div id="content">
        <%= yield %>
      </div>
      <div class="cleaner"></div>
    </div>
    <div class="cleaner"></div>
    <%= render 'layouts/footer' %>
  </body>
</html>