<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/styles_&_scripts' %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'layouts/header'%>
      <div id="main">
        <%= render 'layouts/sidebar' %>
        <% unless params[:controller] == "sessions" %>
          <%= render 'shared/flash_messages'%>
        <% end %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
      <div class="cleaner"></div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>