<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'main', :media => 'all' %>
    <%= javascript_include_tag 'application', :media => 'all' %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <div id="main">
      <%= render 'layouts/cap' %>
      <div id="content">
        <%= yield %>
      </div>
      <%= render 'layouts/sidebar' if render_sidebar?%>
      <div class="cleaner"></div>
    </div>
    <div class="cleaner"></div>
    <%= render 'layouts/footer' %>
  </body>
</html>