<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/styles_&_scripts' %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div id="wrapper">
  <%= render 'layouts/header' %>
  <div id="main">
    <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <%= render 'layouts/sidebar' %>
    <%= yield %>
  </div>
  <div class="cleaner"></div>
  <%= render 'layouts/footer' %>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>